.card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
    background-color: #FFFFFF; /* Pure white background */
    border: 1px solid #E0E0E0; /* Light gray border */
    font-family: 'Roboto', sans-serif; /* Commonly used, clean-looking font */
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
    background: linear-gradient(45deg, #4DB6AC 30%, #00897B 90%); /* Gradient from teal to dark teal */
    color: white;
    padding: 15px;
    font-size: 1.25rem; /* Larger font size for card header */
    font-weight: 500; /* Semi-bold font weight */
}

.header {
    color: #4DB6AC; /* Teal color */
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid #4DB6AC; /* Border in the same color as the text */
    position: relative;
    font-weight: 500;
    font-family: 'Roboto Slab', serif; /* More formal, serif font for headers */
    font-size: 2rem; /* Larger font size for headers */
    text-transform: uppercase; /* Uppercase text for a more "headline" look */
    letter-spacing: 2px; /* Additional letter spacing */
}

.header::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    background: #4DB6AC; /* The same teal color */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.avatar {
    background: white;
    border: 2px solid #4DB6AC; /* Teal border */
    transition: border-color 0.2s ease-in-out;
}

.avatar:hover {
    border-color: #00897B; /* Border color changes to dark teal on hover */
}

.card-content {
    font-family: 'Roboto', sans-serif; /* Same font as the card for consistency */
    font-size: 1rem; /* Standard font size for body text */
    color: #616161; /* Dark gray for readability */
}