@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

 body {
	 height: 100%;
	 background-color: #009579;
	 font-family: "Montserrat";
}
 div.card {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 padding: 1rem;
	 padding-top: 0;
	 padding-left: 0rem;
	 padding-right: 0rem;
	 width: 300px;
	 height: 300px;
	 margin: auto;
	 margin-top: 20%;
	 transition: 0.3s;
	 background: white;
	 border-radius: 6px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 div.card:hover {
	 box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
 div.card h1 {
	 color: #232323;
	 font-weight: 700;
	 font-size: 1.7rem;
	 text-align: center;
}
 div.card form {
	 gap: 1rem;
	 width: 100%;
	 display: flex;
	 margin-bottom: 1rem;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
}
 div.card form input[type="email"], div.card form input[type="password"] {
	 width: 80%;
	 border-radius: 5px;
	 padding: 12px 14px;
	 box-sizing: border-box;
	 border: 1px solid #cecece;
}
 div.card a {
	 color: #009579;
	 text-decoration: none;
}
 div.card .forgot_password {
	 font-weight: 500;
	 font-size: 0.8rem;
	 padding-left: 1.8rem;
	 margin-bottom: 0.7rem;
	 align-self: flex-start;
}
 div.card .login_button {
	 width: 80%;
	 border: none;
	 color: #efefef;
	 font-weight: 600;
	 border-radius: 3px;
	 background: #009579;
	 padding: 0.6rem 1rem;
	 box-shadow: 1px 0px 4px #787878;
}
 div.card .sign_up {
	 font-weight: 500;
	 margin-top: 1rem;
	 font-size: 0.75rem;
	 text-align: center;
}
 